<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Can Edit your Post</title>
</head>
<body>
   <h2>Edit your post</h2>

<p>Post id: <%= post.id %></p>
<p>Username: @<%= post.username %></p>

<form method="POST" action="/posts/<%= post.id %>">

    <textarea rows="10" cols="35" name="content"><%= post.content %></textarea>

    <br><br>

    <button type="submit">Update Post</button>
</form>
</body>
</html>