<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>

    <h1>Username: <%= username %></h1>

    <p>Followers: <%= followers %></p>

    <p>Following: <%= following %></p>

</body>
</html>