<!-- <!DOCTYPE html>
<html>
<head>
    <title>Roll Dice</title>
</head>
<body>

    <h1>Dice Rolled!</h1>

    <h2>Result: <%= diceVal %></h2>

</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
    <title>Roll Dice</title>
</head>
<body>

    <h1>Dice Rolled!</h1>

    <h2>Result: <%= diceVal %></h2>

    <% if(diceVal == 6){ %>
        <h2>🎉 Lucky! You got a 6</h2>
    <% } %>

</body>
</html>