<!DOCTYPE html>
<html>

<head>
    <title>Home</title>

    <!-- Static CSS File -->
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <%- include("includes/navbar") %>

    <h1>Welcome To Instagram Clone</h1>

    <h3>Open Profiles:</h3>

    <a href="/cats">Cats Profile</a>
    <br><br>

    <a href="/dogs">Dogs Profile</a>

    <%- include("includes/footer") %>

</body>

</html>